<div class="breadcrumbs-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="breadcrumb-content position-relative section-content">
          <h3 class="title-3">product list</h3>
          <ul>
            <li><a routerLink="legumes" href="index.html">Home</a></li>
            <li>product list</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>


<table class="table">
  <tr><th>image</th><th>Title</th><th>Price</th><th></th></tr>
  <tbody  *ngFor="let product of listProducts; let i= index ; " >
  <tr>
    <img src="{{product?.fileSource}}" style="height: 100px; width:100px"/>

    <td>{{product.title}}</td>
    <td>{{product.price}}</td>

<td>
  <button class="btn obrien-button-2 primary-color" [routerLink]="['details/',product.id]"> Details</button>
 </td>


  </tr>
  </tbody>
</table>

