
<html class="no-js" lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Obrien - Organic Food HTML5 Template</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

</head>

<body>
<div class="contact-wrapper">
 <app-nav-bar></app-nav-bar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="container">

  <div class="newsletter-area">
    <div class="container container-default h-100 custom-area">
      <div class="row h-100">
        <div class="col-lg-8 col-xl-5 offset-xl-6 offset-lg-3 col-custom">
          <div class="newsletter-content text-center d-flex flex-column align-items-center justify-content-center h-100">
            <div class="section-content">
              <button [disabled]="isUnchanged">Disabled Button</button>

              <h4 class="title-4 text-uppercase">Need <span>Help</span></h4>
              <p class="desc-content">Call our support 24/7 at +216 21 885 045<br></p>
            </div>
            <div class="newsletter-form-wrap ml-auto mr-auto">
              <form  class="mc-form d-flex position-relative">
                <input type="email"  [(ngModel)]="valInput" class="form-control email-box" placeholder="email@example.com" name="EMAIL">
              </form>
              <app-contact [val]="valInput"
                                   (event)="ChangeValue($event)">

              </app-contact>

              <!-- mailchimp-alerts Start -->
              <div class="mailchimp-alerts text-centre">
                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
              </div>
              <!-- mailchimp-alerts end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  </div>

<br>


  <footer class="footer-area">
    <div class="footer-widget-area">
      <div class="container container-default custom-area">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
            <div class="single-footer-widget m-0">
              <div class="footer-logo">
                <a href="index.html">
                  <img src="assets/images/logo/footer.png" alt="Logo Image">
                </a>
              </div>
              <p class="desc-content">Obrien is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here soluta nobis</p>

            </div>
          </div>




        </div>
      </div>
    </div>


    <div class="footer-copyright-area">
      <div class="container custom-area">
        <div class="row">
          <div class="col-12 text-center col-custom">
            <div class="copyright-content">
              <p>Copyright © 2020 HAZINEHA  | &nbsp;by sadek selmi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


</div></body></html>
