
<html class="no-js" lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Obrien - Organic Food HTML5 Template</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">

</head>

<body>

<div class="contact-wrapper">
  <header class="main-header-area">
    <!-- Main Header Area Start -->
    <div class="main-header">
      <div class="container container-default custom-area">
        <div class="row">
          <div class="col-lg-12 col-custom">
            <div class="row align-items-center">
              <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                <div class="header-logo d-flex align-items-center">
                  <a href="index.html">
                    <img class="img-full" src="assets/images/logo/logo.png" alt="Header Logo">
                  </a>
                </div>
              </div>
              <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                <nav class="main-nav d-flex justify-content-center">
                  <ul class="nav">
                    <li>
                      <a routerLink="legumes">
                        <span class="menu-text"> Home</span>
                        <i class="fa fa-angle-down"></i>
                      </a>

                    </li>
                    <li>
                      <a routerLink="legumes/ajouter">
                        <span class="menu-text">Add</span>
                        <i class="fa fa-angle-down"></i>
                      </a>

                    </li>
                    <li>
                      <a href="blog-details-fullwidth.html">
                        <span class="menu-text"> Blog</span>
                        <i class="fa fa-angle-down"></i>
                      </a>

                    </li>

                    <li>
                      <a href="about-us.html">
                        <span class="menu-text"> About</span>
                      </a>
                    </li>
                    <li>
                      <a href="contact-us.html">
                        <span class="menu-text">Contact</span>
                      </a>
                    </li>
                    <li >
                      <a routerLink="login">
                        <span class="menu-text">Login</span>
                      </a>
                    </li>
                    <li>
                      <a routerLink="register">
                        <span class="menu-text">Register</span>
                      </a>
                    </li>

                  </ul>
                </nav>

              </div>





            </div>
          </div>
        </div>
      </div>
    </div></header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>








  <div class="support-area">
    <div class="container container-default custom-area">
      <div class="row">
        <div class="col-lg-12 col-custom">
          <div class="support-wrapper d-flex">
            <div class="support-content">
              <h1 class="title">Need Help ?</h1>
              <p class="desc-content">Call our support 24/7 at +216 21 885 045 </p>
            </div>
            <div class="support-button d-flex align-items-center">
              <a class="obrien-button primary-btn" href="contact-us.html">Contact now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer-area">
    <div class="footer-widget-area">
      <div class="container container-default custom-area">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
            <div class="single-footer-widget m-0">
              <div class="footer-logo">
                <a href="index.html">
                  <img src="assets/images/logo/footer.png" alt="Logo Image">
                </a>
              </div>
              <p class="desc-content">Obrien is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here soluta nobis</p>

            </div>
          </div>




        </div>
      </div>
    </div>


    <div class="footer-copyright-area">
      <div class="container custom-area">
        <div class="row">
          <div class="col-12 text-center col-custom">
            <div class="copyright-content">
              <p>Copyright © 2020 HAZINEHA  | &nbsp;by sadek selmi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


</div></body></html>
