
    <h2>Full Menu Item Search</h2>
    <input type="string" [(ngModel)]="entreeItem">
    <button   (click)='fullMenuGet()'>View Menu Item</button>
      <div>
        <h1>Full Menu Item </h1>
      </div>
      <div>
        <li *ngFor='let items of FullMenuResults'>
          <button
                  (click)='inputFullMenuItem(items.id);fullMenuToggle()'>View
            Details</button>
          {{items.id}}
          {{items.title}}
        </li>
      </div>
          <h1>Recipe</h1>

        <img  src="{{Food.recipe_image}}" alt="Photo">
          <h2>Ingredients</h2>
          <ul>
            <li *ngFor='let ingredient of Food.recipe_ingredients'>
              {{ingredient.originalString}}
            </li>
          </ul>
          <br>
          <h2>Instructions</h2>
          <ul>
            <li *ngFor='let instruction of Food.recipe_instructions'>
              {{instruction.step}}
            </li>
            <li>
              Recipe will take a total of {{Food.recipe_cooktime}} minutes to cook.
            </li>
          </ul>


