.currentMenu {
  background-color: darkgray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container{
  background-color: darkgray;
}
.item-1{
  background-color: black;
  border: 2px solid crimson;
  color: blanchedalmond;
}
.item-2{
  background-color: black;
  border: 2px solid red;
  color: blanchedalmond;
}
.item-3{
  background-color: black;
  border: 2px solid crimson;
  color: blanchedalmond;
}
.item-4{
  background-color: black;
  border: 2px solid red;
  color: blanchedalmond;
  min-width: 20%;
}
.item-5{
  background-color: black;
  border: red;
  color: blanchedalmond;
}

.fullMenuResultsData{
  margin: 1rem;
  margin-left: 5rem;
}

#catSelector{
  color: white;
}
