

<div class="breadcrumbs-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="breadcrumb-content position-relative section-content">
          <h3 class="title-3">Product Details</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>Product Details</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="single-product-main-area">
  <div class="container container-default custom-area">
    <div class="row">
      <div class="col-lg-5 col-custom">
        <div class="product-details-img horizontal-tab">
          <div class="product-slider popup-gallery product-details_slider" data-slick-options='{
                        "slidesToShow": 1,
                        "arrows": false,
                        "fade": true,
                        "draggable": false,
                        "swipe": false,
                        "asNavFor": ".pd-slider-nav"
                        }'>
            <div class="single-image border">
              <a href="assets/images/product/large-size/1.jpg">
                <img src="{{legume?.fileSource}}" alt="Product">
              </a>
            </div>

          </div>
          <div class="pd-slider-nav product-slider" data-slick-options='{
                        "slidesToShow": 4,
                        "asNavFor": ".product-details_slider",
                        "focusOnSelect": true,
                        "arrows" : false,
                        "spaceBetween": 30,
                        "vertical" : false
                        }' data-slick-responsive='[
                            {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                            {"breakpoint":1200, "settings": {"slidesToShow": 4}},
                            {"breakpoint":992, "settings": {"slidesToShow": 4}},
                            {"breakpoint":575, "settings": {"slidesToShow": 3}}
                        ]'>

          </div>
        </div>
      </div>
      <div class="col-lg-7 col-custom">
        <div class="product-summery position-relative">
          <div class="product-head mb-3">
            <h2 class="product-title">{{legume?.title}}</h2>
          </div>
          <div class="price-box mb-2">
            <span> price : </span>

            <span class="regular-price">{{legume?.price}}</span>
          </div>
          <div class="price-box mb-2">
            <span> Quantity : </span>

            <span class="regular-price">{{legume?.quantity}}</span>
          </div>


          <p class="desc-content mb-5"> {{legume?.description}}</p>
          <div class="buy-button mb-5">
            <button href="#" class="btn obrien-button-2 primary-color" (click)="subm(legume.id)">Update</button>
            <button href="#" class="btn obrien-button-2 primary-color" (click)="submit(legume.id)">Remove</button>

          </div>


        </div>
      </div>
    </div>

    <!-- End Single Content -->

    <!-- Footer Area End Here -->
  </div>





















































































































