














<div class="breadcrumbs-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="breadcrumb-content position-relative section-content">
          <h3 class="title-3">Login-Register</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>Login-Register</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="login-register-area mt-no-text mb-no-text">
  <div class="container container-default-2 custom-area">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
        <div class="login-register-wrapper">
          <div class="section-content text-center mb-5">
            <h2 class="title-4 mb-2">Create Account</h2>
            <p class="desc-content">Please Register using account detail bellow.</p>
          </div>
          <form  [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
          <div class="single-input-item mb-3">
            <input formControlName="firstName" type="text" placeholder="First Name" >
          </div>
            <div class="alert alert-danger" *ngIf="registerForm.get('firstName').errors
   && registerForm.controls['firstName'].touched">
              <div *ngIf="registerForm.controls['firstName'].hasError('required')">
                the first name is a required field
              </div>
              <div *ngIf="registerForm.controls['firstName'].hasError('minlength')">
                the first name minlength is 3
              </div>
            </div>
          <div class="single-input-item mb-3">
            <input  formControlName="lastName" type="text" placeholder="Last Name">
          </div>
            <div class="alert alert-danger" *ngIf="registerForm.get('lastName').errors
   && registerForm.controls['lastName'].touched">
              <div *ngIf="registerForm.controls['lastName'].hasError('required')">
                the last name is a required field
              </div>
              <div *ngIf="registerForm.controls['lastName'].hasError('pattern')">
                Message Pattern
              </div>
            </div>
            <div formGroupName="address">
              <div class="form-group">
                <label>Street:</label>
                <input type="text" formControlName="street" class="form-control">
              </div>
              <div class="alert alert-danger" *ngIf="registerForm.get('address').get('street').errors">
                street message error
              </div>
              <div class="form-group">
                <label>City:</label>
                <input type="text" formControlName="city" class="form-control">
              </div>
            </div>
          <div class="single-input-item mb-3">
            <input type="text" formControlName="mail" class="form-control"  />
            </div>
            <div class="alert alert-danger" *ngIf="registerForm.get('mail').errors
   && registerForm.controls['mail'].touched">
              <div *ngIf="registerForm.controls['mail'].hasError('required')">
              Email is a required field
              </div>
              <div *ngIf="registerForm.controls['mail'].hasError('email')">
                Email must be a valid email address
              </div>
            </div>

          <div class="single-input-item mb-3">
            <input formControlName="motdpasse" type="password" placeholder="Enter your Password">
          </div>
            <div class="alert alert-danger" *ngIf="registerForm.get('motdpasse').errors
   && registerForm.controls['motdpasse'].touched">
              <div *ngIf="registerForm.controls['motdpasse'].hasError('required')">
                the passowrd is a required field
              </div>
              <div *ngIf="registerForm.controls['motdpasse'].hasError('minlength')">
                the password minlength is 6
              </div>
            </div>



          <div   class="single-input-item mb-3">

            <button [disabled]="registerForm.invalid"   class="btn obrien-button-2 primary-color" >Register</button>

          </div>


          </form>

        </div>
      </div>
    </div>
  </div>
</div>

