














<div class="breadcrumbs-area position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="breadcrumb-content position-relative section-content">
          <h3 class="title-3">Login-Register</h3>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>Login-Register</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="login-register-area mt-no-text mb-no-text">
  <div class="container container-default-2 custom-area">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
        <div class="login-register-wrapper">
          <div class="section-content text-center mb-5">
            <h2 class="title-4 mb-2">Create Account</h2>
            <p class="desc-content">Please Register using account detail bellow.</p>
          </div>
          <form [formGroup]="form" (ngSubmit)="submit(form.value)">
          <div class="single-input-item mb-3">
            <input formControlName="first" type="text" placeholder="First Name">
          </div>
          <div class="single-input-item mb-3">
            <input  formControlName="last" type="text" placeholder="Last Name">
          </div>
          <div class="single-input-item mb-3">
            <input formControlName="mail" type="email" placeholder="Email or Username">
          </div>
          <div class="single-input-item mb-3">
            <input formControlName="motdpasse" type="password" placeholder="Enter your Password">
          </div>



          <div class="single-input-item mb-3">
            <button class="btn obrien-button-2 primary-color">Register</button>
          </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

